h1{color: rgb(238, 238, 241);background-color: rgb(0, 0, 0);font-family:
    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:60px;border-color: rgb(46, 33,
     4);}
   h2
   {color: brown;}
   h3{background-color: darkcyan;}h4{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
   'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: darkred;background-color:
    aquamarine;font-size: xx-large;}h1{color: rgb(238, 238, 241);background-color: rgb(0, 0, 0);font-family:
        'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:60px;border-color: rgb(46, 33,
         4);}
       h2
       {color: brown;}
       h3{background-color: darkcyan;}h4{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
       'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: darkred;background-color:
        aquamarine;font-size: xx-large;}